<template name="buildsList">
	<div class="form-inline">
	{{> raceFilter}}
	{{> againstFilter}}
	{{> authorFilter}}
	</div>
	{{> reactiveTable collection=builds settings=settings}}
</template>


<template name="raceFilter">
		Main Race 
		<select id="race-select" class="form-control"> <option> All Races </option><option>Zerg</option> <option>Protoss </option><option>Terran</option></select>
</template>
<template name="againstFilter">
		Against Race
		<select id="race-select" class="form-control"> <option> All Races </option><option>Zerg</option> <option>Protoss </option><option>Terran</option></select>
</template>

<template name="authorFilter">
	<div class="input-group">
      <span class="input-group-addon">
        <span>Author Name </span>
      </span>
      <input class="form-control author-input" type="text"/>
    </div>
</template>